*{
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: 2px solid black;
    clear: both;
}

#top {
    height: 200px;
    border: 2px solid black;
    width: 100%;
}

#left {
    height: 400px;
    border: 2px solid black;
    width: 40%;
    float: left;
}

#right {
    height: 400px;
    border: 2px solid black;
    width: 60%;
    float: left;
}